@import 'variables';

$h-spotify-logo: 120px;

:host {
    max-width: 300px;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;


    .menu {
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
        padding: 2rem;
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.027);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        .image-container {
            min-height: $h-spotify-logo;
            display: flex;
            flex-direction: column;

            img {
                width: 70%;
            }

            p {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.7rem;
                margin-top: 4rem;
            }
            hr {
                width: 100%;
                border-color: rgba(255, 255, 255, 0.05);
            }
            .moon-container {
                color: #ffffff;
                margin-top: 5rem;
                .moon {
                  background-color: #f5f5f5;
                  height: 4em;
                  width: 4em;
                  border-radius: 50%;
                  margin: auto;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  cursor: pointer;
                  .orbit {
                    height: 9rem;
                    width: 9rem;
                    border-radius: 50%;
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    margin: auto;
                    left: 5rem;
                    top: 8rem;
                    animation: spin 8s infinite linear;
                    background: none;
                    position: absolute;
                    @keyframes spin {
                      100% {
                        transform: rotate(360deg);
                      }
                    }
                    p {
                      font-size: 1rem;
                    }
                  }
                }
                @media screen and (min-width: 700px) {
                  font-size: 20px;
                }
            }
        }
        .menu-container {
            width: 100%;
            flex-direction: column;
            &.options {
                margin-top: 1rem;
                min-height: $h-menu-options;
                gap: 1rem;
            }
        }

    }
}