@import 'variables';

.flex {
    padding: 5px 30px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    justify-content: center;
    .icon {
        cursor: pointer;
    }
}